@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap');

body{
    margin: 0;
     text-align: center;
    font-family:  sans-serif;
    font-weight: 30px;
}

.site-name{
    margin:0
}